@model WypozyczalniaP2P.Models.Wypozyczenie

<h1>Szczegóły wypożyczenia</h1>

<div>
    <h4>Wypożyczenie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Klient</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Klient.Email)</dd>
        <dt class="col-sm-2">Samochód</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Samochod.Marka) @Html.DisplayFor(model => model.Samochod.Model)</dd>
        <dt class="col-sm-2">Wypożyczający</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Wypozyczajacy.Email)</dd>
        <dt class="col-sm-2">Data rozpoczęcia</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.DataRozpoczecia)</dd>
        <dt class="col-sm-2">Data zakończenia</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.DataZakonczenia)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> |
    <a asp-action="Index">Wróć do listy</a>
</div>
